    <!-- Bootstrap core CSS -->
{% extends 'bootstrap/base.html' %}

{% block head %}
    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% block styles %}
    {{ super() }}
    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href='{{url_for('.static', filename='css/bootstrap.min.css')}}'>
    <!-- Custom styles for this template -->
        <link rel = "stylesheet" href='{{ url_for('.static', filename='css/shop-item.css') }}'>
    {% endblock %}

{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% block navbar %}
        {% include 'nav.html' %}
    {% endblock %}

    <!-- Page Content -->
    {% block content %}    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
            <div class="card-body">
                <h3 class="card-title">{{item.name}}</h3>
              <h4>$24.99</h4>
              <p class="card-text">{{item.description}}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->



<a href='{{url_for('showCategoryItems', category_name = category.name)}}'>Return to all items</a>

{% endblock %}

    {% block scripts %}

        <!-- Bootstrap core JavaScript -->
        <script src='{{url_for('.static', filename='jquery/jquery.min.js')}}'></script>
        <script src='{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}'></script>
        {% include 'loginbutton_script.html' %}

    {% endblock %}

{% endblock %}
