    <!-- Bootstrap core CSS -->
{% extends 'bootstrap/base.html' %}

{% block head %}
    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% block styles %}
    {{ super() }}
    <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href='{{url_for('.static', filename='css/bootstrap.min.css')}}'>
    <!-- Custom styles for this template -->
        <link rel = "stylesheet" href='{{ url_for('.static', filename='css/1-col-portfolio.css') }}'>
    {% endblock %}

{% endblock %}

{% block body %}

    <!-- Navigation -->
    {% block navbar %}
        {% include 'nav.html' %}
    {% endblock %}

    <!-- Page Content -->
    {% block content %}
<!-- GOOGLE PLUS SIGN IN-->

          
          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="82444643165-dd53n9tde91oi23ktldp9nu6sij7ps89.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');

    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          

      } else if (authResult['error']) {

    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }

      }
      
  }); } }
</script>
{% endblock %}

    {% block scripts %}

        <!-- Bootstrap core JavaScript -->
        <script src='{{url_for('.static', filename='jquery/jquery.min.js')}}'></script>
        <script src='{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}'></script>
        {% include 'loginbutton_script.html' %}

    {% endblock %}

{% endblock %}
